.about {
    width:  70%;
    align-items: center;
    margin: -4rem auto;
    padding: 6rem;
    box-shadow: 3px 3px 5px rgba(128, 128, 128, 0.473);
    border-radius: 4px;
    background-color: white;
    margin-bottom: 3rem;
    

    &__content {
        
        align-items: center;
        display: flex;
        justify-content: space-around;

        @include phone {
            flex-direction: column;
        }
    }

    &__img {
        width: 9rem;
        height: auto;
        align-items: center;

        @include phone{
            margin-bottom: 1rem;
        }
    }
}