.category {
    
    padding: 2rem 4rem;

    

    &__left {
        width: 75%;
        height: 100%;

        @include phone {
            width: 100%;
            flex-direction: column;
        }

        &--top {
            margin-bottom: 3rem;
        }

        &--bottom {
            padding: 0.7rem;

            @include phone {
                width: 100%;
                flex-direction: column;
            }
            &--info {
                width: 150%;
                padding: 0.7rem 1.5rem;

                @include phone {
                    width: 100%;
                }
            }

            &--title {
                color: rgb(255, 102, 0);
                font-size: 3rem;
                margin-top: 0;
                padding-top: 0;
            }

            &--desc {
                color: black;
                margin-bottom: 3rem;
            }

            &--btn {
                margin: 1.3rem;
            }
        }
    }

    



    &__right {
        width: 25%;
        height: 100%;

        @include phone {
            width: 100%;
            flex-direction: column;
        }
    }

    &__content {
        width: 90%;
        height: 25rem;
        margin: auto;
        box-shadow: 3px 3px 5px gray;
        margin: 0 1rem;
        margin-bottom: 2rem;
        border-radius: 5px;
        overflow: hidden;

        @include phone {
            margin-bottom: 1rem;
        }
    }

    &__img {

        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        background-color: black;
        top: 0;
        left: 0;
        z-index: 1;
        
    }

    &__img-content {
        width: 100%;
        height: 100%;
        opacity: 50%;
        
        position: absolute;
        background-color: none;
        
    }

    &__info {
        position: relative;
        margin-top: -25rem;
        z-index: 10;
        top: 0;
        left: 0;
        padding: 1rem;
        text-align: center;
    }

    &__title {
        &--orange {
            color: rgb(255, 102, 0);
        }

        &--gray {
            color: white;
        }

        &--red {
            color: red;
        }
        font-size: 3rem;
        margin-bottom: 2rem;
    }

    &__desc {
        color: wheat;
    }

    &__star {
        color: orange;
        margin-left: 0.3rem;
        margin-right: 0.3rem;    
    }

    &__rate {
        margin-bottom: 3rem;
    }

    &__btn {
        text-decoration: none;
        padding: 0.7rem 1rem;
        background-color: orange;
        color: black;
        border-width: 3px;
        border-radius: 5px;
    }




}

.row {
    display: flex;

    @include phone{
        flex-direction: column;
    }

}

.cat__row {
    height: 27rem;
    margin: 0 4rem;

    @include phone {
        margin-bottom: 1rem;
    }
}

.cat__col {

}

.top {
    margin-top: -27rem;
}

.img {
    opacity: 1;
}
