.header__box__content {
    box-shadow: 3px 3px 4px gray;
    padding: 1rem 2rem;
    background-color: rgb(165, 164, 164);
}

.header__box{
    display: flex;
    align-items: center;
    width: 80%;
    margin: auto;
    justify-content: space-between;

    @include phone {
        flex-direction: column;
    }
    
}

.header__icon {
    color: rgb(240, 232, 232);
    font-size: 2rem;
    

    i {
        margin: 0.5rem 0.5rem;
    }

    @include phone {
        font-size: 1rem;
    }
}

.header__form {
    input {
        border: none;
        border-radius: 10px;
        padding: 0.8rem 4rem;
        padding-left: 0.8rem;
    }

    @include phone {
        margin-bottom: 0.5rem;
    }
}

.header__botton {
    a {
        font-size: 1.5rem;
        color: black;
        text-decoration: none;
        margin: 0 1rem;

        @include phone{
            font-size: 1rem;
        }
    }
}