.products {
    padding: 8rem 2rem;

    &__content {
        display: flex;
        @include phone{
            flex-direction: column;
            align-items: center;
        }
    }
}

.product {
    padding-bottom: 1rem;
    width: 20%;
    margin: 0 4rem;
    box-shadow: 2px 2px 5px gray;

    @include phone {
        margin-bottom: 1rem;
        width: 80%;
    }

    &__text {   
        text-align: start;
        padding: 0 0.8rem;
    }


    &__title {
        color: gray;
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    &__author {
        color: orange;
    }

    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__rating {
        color: rgba(255, 0, 0, 0.589);
        font-size: 1.3rem;
        margin-bottom: 0.5rem;
    }

    &__price {
        font-size: 1.3rem;
        color: orange;
    }

    &__img {
        width: 100%;
        height: auto;
        &--container {
            margin-bottom: 1rem;
            text-align: start;
        }
    }
    

    

}