.nav {
  background-color: white;
  box-shadow: 2px 2px 4px rgba(128, 128, 128, 0.527); }
  .nav__content {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between; }
  .nav__list {
    display: flex;
    align-items: center;
    list-style: none; }
  .nav__item {
    margin: 0 2rem; }
  .nav__link {
    size: 3rem;
    text-decoration: none;
    color: gray; }

.logo {
  margin: 1rem 3rem;
  width: 4rem;
  height: 4rem;
  border-radius: 2rem; }

.header__box__content {
  box-shadow: 3px 3px 4px gray;
  padding: 1rem 2rem;
  background-color: #a5a4a4; }

.header__box {
  display: flex;
  align-items: center;
  width: 80%;
  margin: auto;
  justify-content: space-between; }

.header__icon {
  color: #f0e8e8;
  font-size: 2rem; }
  .header__icon i {
    margin: 0.5rem 0.5rem; }

.header__form input {
  border: none;
  border-radius: 10px;
  padding: 0.8rem 4rem;
  padding-left: 0.8rem; }

.header__botton a {
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  margin: 0 1rem; }

.header {
  background-image: linear-gradient(rgba(255, 0, 128, 0.349), rgba(255, 115, 0, 0.363)), url("../../../images/pexels-freestocksorg-291762.jpg");
  height: 100vh;
  background-attachment: fixed; }
  .header__hero-content {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 3rem; }
  .header__title {
    font-size: 3rem;
    color: white; }
  .header__desc {
    font-size: 1.3rem;
    text-transform: uppercase;
    color: white;
    margin-bottom: 3rem; }
  .header__link {
    text-decoration: none;
    background-color: white;
    color: black;
    padding: 1rem 1.7rem;
    border-radius: 10px; }

.about {
  width: 70%;
  align-items: center;
  margin: -4rem auto;
  padding: 6rem;
  box-shadow: 3px 3px 5px rgba(128, 128, 128, 0.473);
  border-radius: 4px;
  background-color: white;
  margin-bottom: 3rem; }
  .about__content {
    align-items: center;
    display: flex;
    justify-content: space-around; }
  .about__img {
    width: 9rem;
    height: auto;
    align-items: center; }

.category {
  padding: 2rem 4rem;
  height: 100rem;
  display: flex; }
  .category__left {
    width: 75%;
    background-color: red;
    height: 100%; }
  .category__right {
    width: 25%;
    height: 100%; }
  .category__content {
    width: 90%;
    height: 25rem;
    margin: auto;
    box-shadow: 3px 3px 5px gray;
    margin-bottom: 2rem;
    border-radius: 5px;
    overflow: hidden; }
  .category__img {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background-color: black;
    top: 0;
    left: 0;
    z-index: 1; }
  .category__img-content {
    width: 100%;
    height: 100%;
    opacity: 70%;
    position: absolute;
    background-color: none; }
  .category__info {
    position: relative;
    margin-top: -25rem;
    z-index: 10;
    top: 0;
    left: 0;
    padding: 1rem;
    text-align: center; }
  .category__title {
    font-size: 3rem;
    color: #ff6600;
    margin-bottom: 2rem; }
  .category__desc {
    color: wheat; }
  .category__star {
    color: orange;
    margin-left: 0.3rem;
    margin-right: 0.3rem; }
  .category__rate {
    margin-bottom: 1.5rem; }
  .category__btn {
    text-decoration: none;
    padding: 0.7rem 1rem;
    background-color: white;
    color: orange;
    border-width: 3px;
    border-radius: 5px; }

body {
  margin: 0;
  padding: 0; }
