.nav {
  background-color: white;
  box-shadow: 2px 2px 4px rgba(128, 128, 128, 0.527); }
  .nav__content {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between; }
  .nav__list {
    display: flex;
    align-items: center;
    list-style: none; }
  .nav__item {
    margin: 0 2rem; }
  .nav__link {
    size: 3rem;
    text-decoration: none;
    color: gray; }

.logo {
  margin: 1rem 3rem;
  width: 4rem;
  height: 4rem;
  border-radius: 2rem; }

.header__box__content {
  box-shadow: 3px 3px 4px gray;
  padding: 1rem 2rem;
  background-color: #a5a4a4; }

.header__box {
  display: flex;
  align-items: center;
  width: 80%;
  margin: auto;
  justify-content: space-between; }

.header__icon {
  color: #f0e8e8;
  font-size: 2rem; }
  .header__icon i {
    margin: 0.5rem 0.5rem; }

.header__form input {
  border: none;
  border-radius: 10px;
  padding: 0.8rem 4rem;
  padding-left: 0.8rem; }

.header__botton a {
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  margin: 0 1rem; }

.header {
  background-image: linear-gradient(rgba(255, 0, 128, 0.349), rgba(255, 115, 0, 0.363)), url("../../../images/pexels-freestocksorg-291762.jpg");
  height: 100vh;
  background-attachment: fixed; }
  .header__hero-content {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 3rem; }
  .header__title {
    font-size: 3rem;
    color: white; }
  .header__desc {
    font-size: 1.3rem;
    text-transform: uppercase;
    color: white;
    margin-bottom: 3rem; }
  .header__link {
    text-decoration: none;
    background-color: white;
    color: black;
    padding: 1rem 1.7rem;
    border-radius: 10px; }

.about {
  width: 70%;
  align-items: center;
  margin: -4rem auto;
  padding: 6rem;
  box-shadow: 3px 3px 5px rgba(128, 128, 128, 0.473);
  border-radius: 4px;
  background-color: white;
  margin-bottom: 3rem; }
  .about__content {
    align-items: center;
    display: flex;
    justify-content: space-around; }
  .about__img {
    width: 9rem;
    height: auto;
    align-items: center; }

.history {
  padding: 4rem 0rem; }
  .history__content {
    display: flex; }
  .history__img--container {
    width: 50%;
    background-image: url(../../../images/pexels-freestocksorg-291762.jpg);
    margin-right: 2rem;
    clip-path: polygon(0 0, 100% 0, 70% 100%, 0 100%);
    background-position: center;
    background-attachment: fixed; }
  .history__text--container {
    width: 50%; }
  .history__title {
    font-size: 1.6rem;
    margin-top: 0; }
  .history__desc {
    font-size: 1.2rem;
    line-height: 1.6;
    color: gray;
    margin-bottom: 2rem; }
  .history__btn {
    text-decoration: none;
    margin-left: 0.5rem;
    padding: 1rem 1.6rem;
    background-color: orange;
    color: black;
    border-radius: 10px; }

.reviews {
  padding: 8rem 4rem; }
  .reviews__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }

.review {
  padding: 1rem 2rem;
  width: 40%;
  border: 1px solid gray;
  margin: 1.2rem;
  box-sizing: border-box;
  box-shadow: 3px 3px 4px gray; }
  .review__user {
    display: flex;
    align-items: center; }
  .review__img {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    margin-right: 2rem; }
  .review__title {
    margin: 0;
    color: #777; }
  .review__location {
    margin: 0; }
  .review__icon {
    color: gray;
    font-size: 1.1rem; }
  .review__text {
    color: orange;
    font-size: 1.2rem; }

.category {
  padding: 2rem 4rem; }
  .category__left {
    width: 75%;
    height: 100%; }
    .category__left--top {
      margin-bottom: 3rem; }
    .category__left--bottom {
      padding: 0.7rem; }
      .category__left--bottom--info {
        width: 150%;
        padding: 0.7rem 1.5rem; }
      .category__left--bottom--title {
        color: #ff6600;
        font-size: 3rem;
        margin-top: 0;
        padding-top: 0; }
      .category__left--bottom--desc {
        color: black;
        margin-bottom: 3rem; }
      .category__left--bottom--btn {
        margin: 1.3rem; }
  .category__right {
    width: 25%;
    height: 100%; }
  .category__content {
    width: 90%;
    height: 25rem;
    margin: auto;
    box-shadow: 3px 3px 5px gray;
    margin: 0 1rem;
    margin-bottom: 2rem;
    border-radius: 5px;
    overflow: hidden; }
  .category__img {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background-color: black;
    top: 0;
    left: 0;
    z-index: 1; }
  .category__img-content {
    width: 100%;
    height: 100%;
    opacity: 50%;
    position: absolute;
    background-color: none; }
  .category__info {
    position: relative;
    margin-top: -25rem;
    z-index: 10;
    top: 0;
    left: 0;
    padding: 1rem;
    text-align: center; }
  .category__title {
    font-size: 3rem;
    margin-bottom: 2rem; }
    .category__title--orange {
      color: #ff6600; }
    .category__title--gray {
      color: white; }
    .category__title--red {
      color: red; }
  .category__desc {
    color: wheat; }
  .category__star {
    color: orange;
    margin-left: 0.3rem;
    margin-right: 0.3rem; }
  .category__rate {
    margin-bottom: 3rem; }
  .category__btn {
    text-decoration: none;
    padding: 0.7rem 1rem;
    background-color: orange;
    color: black;
    border-width: 3px;
    border-radius: 5px; }

.row {
  display: flex; }

.cat__row {
  height: 27rem;
  margin: 0 4rem; }

.top {
  margin-top: -27rem; }

.img {
  opacity: 1; }

.products {
  padding: 8rem 2rem; }
  .products__content {
    display: flex; }

.product {
  padding-bottom: 1rem;
  width: 20%;
  margin: 0 4rem;
  box-shadow: 2px 2px 5px gray; }
  .product__text {
    text-align: start;
    padding: 0 0.8rem; }
  .product__title {
    color: gray;
    font-size: 1.5rem;
    margin-bottom: 1rem; }
  .product__author {
    color: orange; }
  .product__info {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .product__rating {
    color: rgba(255, 0, 0, 0.589);
    font-size: 1.3rem;
    margin-bottom: 0.5rem; }
  .product__price {
    font-size: 1.3rem;
    color: orange; }
  .product__img {
    width: 100%;
    height: auto; }
    .product__img--container {
      margin-bottom: 1rem;
      text-align: start; }

.email {
  padding: 5rem 0;
  display: flex;
  justify-content: center;
  background-color: rgba(165, 115, 115, 0.842); }
  .email__content {
    text-align: center;
    background-color: honeydew;
    padding: 5rem 18rem;
    border-radius: 5px;
    box-shadow: 2px 2px 3px gray; }
    .email__content--info {
      background-color: lightgoldenrodyellow;
      justify-content: center;
      padding: 5rem 14rem;
      border-radius: 5px;
      box-shadow: 2px 2px 3px gray; }
  .email__title {
    color: hotpink;
    font-size: 3rem;
    margin-bottom: 2rem; }
  .email__form {
    display: flex;
    flex-direction: column; }
  .email__input {
    font-size: 1rem;
    border: none;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 2px 2px 3px gray;
    margin-bottom: 1rem; }
  .email__btn {
    height: 3rem;
    width: 10rem;
    margin: auto;
    border-radius: 10px;
    border: none;
    box-shadow: 2px 2px 3px gray;
    background-color: white; }

.footer {
  background-color: orange;
  padding: 4rem;
  display: flex;
  justify-content: space-between; }
  .footer__list {
    list-style: none; }
  .footer__item {
    padding: 0.7rem; }
  .footer__link {
    text-decoration: none;
    font-size: 1.2rem;
    color: white; }

body {
  margin: 0;
  padding: 0; }
