.nav {
  box-shadow: 2px 2px 4px rgba(128, 128, 128, 0.527); }
  .nav__content {
    width: 80%;
    margin: auto;
    background-color: white;
    display: flex;
    justify-content: space-between; }
  .nav__list {
    display: flex;
    align-items: center;
    list-style: none; }
  .nav__item {
    margin: 0 2rem; }
  .nav__link {
    size: 3rem;
    text-decoration: none;
    color: gray; }

.logo {
  margin: 1rem 3rem;
  width: 4rem;
  height: 4rem;
  border-radius: 2rem; }

body {
  color: white;
  margin: 0;
  padding: 0; }
